body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 10fr 1fr 1fr;
    background-color: black;
    background-image: url('image.png');
    background-repeat: no-repeat;
    min-height: 90vh;
    max-height: 95vh;
    background-position-x: -7em;
    background-position-y: 6em; 
    @media (min-width:728px){
        grid-template-columns: 1fr 433px 1fr;
    }
}

p{
    color: white;
}

.container{
    grid-column: 2;
    grid-row: 2;
    @media (min-width:728px){
        max-width: 433px;
    }
}

button{
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 37.5px;
    border: solid white 1px;
}

a{
    text-decoration: none;
    color: white;
}